# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/pages/photos-info.json
src/assets/photos/*.CR2
src/assets/photos/*.jpg
src/assets/photos/*.fuse*
src/assets/photos/compressed
src/assets/photos-exif-debug.json
src/assets/photos-info.json
src/assets/photos/toconvert
